// Primary color
$primary: #00b8c7;
$white: #fff;
$linear-primary: linear-gradient(
    rgba(20, 25, 33, 0) 0%,
    rgba(20, 25, 33, 0.56) 100%
  ),
  rgb(0, 125, 125);

$accordion-button-padding-y: 14px;
$accordion-button-padding-x: 14px;
$accordion-icon-width: 14px;

$font-extra-large: 2rem;
$font-large: 1.875rem;
$font-medium: 1.0625rem;
