<%- include('partial/header') %>

<!-- main starts here -->
<main>
  <section class="NotFound_wrap">
    <!-- <div class="container"> -->
    <div class="NotFound my-4">
      <img src="img/404.svg" alt="" />
      <div class="text-center mt-3">
        <a href="#" class="btn btn-primary">Go back</a>
        <a href="index.html" class="btn btn-primary">Home</a>
      </div>
    </div>
    <!-- </div> -->
  </section>
</main>

<%- include('partial/footer') %>
