<%- include('../partial/header') %>

<main>
  <section class="profile spacing">
    <div class="container">
      <div class="row gap-4 gap-md-0">
        <div class="col-12 col-md-3">
          <div class="profile-left"><%- include('/layout/sidebar') %></div>
        </div>
        <div class="col-12 col-md-9"><%- include(`/pages/${page}`) %></div>
      </div>
    </div>
  </section>
</main>

<%- include('../partial/footer') %>
