<%- include('../partial/header') %>

<main>
  <section class="profile spacing">
    <div class="container">
      <div class="row gap-4 gap-md-0">
        <div class="col-12 col-md-3">
          <div class="profile-left">
            <div class="profile_left_block">
              <h3>My Account</h3>
              <div class="profile_left_content">
                <a href="/my-account" class="active">Dashboard</a>
                <a href="/my-account/order">Orders</a>
                <a href="/my-account/address">Addresses</a>
                <a href="/my-account/edit-account">Account details</a>
                <a href="/logout">Logout</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="profile_right">
            <h3>Hello ABC</h3>
            <p>
              From your account dashboard you can view your recent orders,
              manage your shipping and billing addresses, and edit your password
              and account details.
            </p>

            <div class="profile_blocks_wrap row">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile_block_wrap">
                  <a href="/my-account/order">
                    <i class="las la-clipboard-check"></i>
                    <h4>Orders</h4>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile_block_wrap">
                  <a href="/my-account/edit-account">
                    <i class="las la-user-circle"></i>
                    <h4>Account details</h4>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile_block_wrap">
                  <a href="/my-account/address">
                    <i class="las la-map-marker"></i>
                    <h4>Address</h4>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="profile_block_wrap">
                  <a href="">
                    <i class="las la-sign-out-alt"></i>
                    <h4>Log out</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partial/footer') %>
