<div class="profile_left_block">
  <h3>My Account</h3>
  <div class="profile_left_content">
    <a href="/user" class="active">Dashboard</a>
    <a href="/user/order">Orders</a>
    <a href="/user/address">Addresses</a>
    <a href="/user/edit-account">Account details</a>
    <a href="/logout">Logout</a>
  </div>
</div>
