<div class="profile_left_block">
  <h3>My Account</h3>
  <div class="profile_left_content">
    <a href="/user" class="<%= page === 'userDashboard' ? 'active' : '' %>"
      >Dashboard</a
    >
    <a
      href="/user/order"
      class="<%= page === 'order' || page === 'orderDetails' ? 'active' : '' %>"
      >Orders</a
    >
    <a href="/user/address" class="<%= page === 'address' ? 'active' : '' %>"
      >Addresses</a
    >
    <a
      href="/user/edit-account"
      class="<%= page === 'information' ? 'active' : '' %>"
      >Account details</a
    >
    <a href="/logout">Logout</a>
  </div>
</div>
