<div class="profile_right">
  <h3>Address</h3>
  <div class="profile_right_block">
    <div class="row">
      <div class="col-md-6">
        <div class="billing address">
          <h4>Billing Address</h4>
          <a href="/my-account/address/billing">
            <i class="las la-edit"></i>
            Edit Biling Address
          </a>

          <div class="address_content">
            You have not set up this type of address yet.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shipping address">
          <h4>Shipping Address</h4>
          <a href="/my-account/address/shipping">
            <i class="las la-edit"></i>
            Edit Shipping Address
          </a>
          <div class="address_content">
            You have not set up this type of address yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
