<%- include("../partial/header") %>

<!-- main starts here -->
<main>
  <div class="about_banner">
    <div class="container">
      <div class="about_banner_content">
        <h1>We turn talent into <span>Greatness</span></h1>
        <p>
          Udacity changes lives, organizations, and nations through digital
          upskilling, developing the edge you need to conquer what's next.
        </p>
      </div>
    </div>
  </div>

  <section class="about_page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-4 offset-lg-2">
          <div class="about_page_right">
            <img
              src="https://templates.sparklethings.com/eduvera/wp-content/uploads/sites/14/2024/07/images-T3ZJ8DB.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-12 col-md-7 col-lg-6">
          <div class="about_page_left">
            <h2>Upskilling talent for the careers of the future</h2>
            <p>
              Udacity began when Stanford instructors Sebastian Thrun and Peter
              Norvig had a revolutionary idea to offer their "Introduction to
              Artificial Intelligence" course online—to anyone, for free.
              Udacity began when Stanford instructors Sebastian Thrun and Peter
              Norvig had a revolutionary idea to offer their "Introduction to
              Artificial Intelligence" course online—to anyone, for free.
            </p>
            <div class="about_page_number d-flex gap-2">
              <div class="about_page_block">
                <div>
                  <span>16.9M</span>
                  <div>registered users</div>
                </div>
              </div>
              <div class="about_page_block">
                <div>
                  <span>6.9M</span>
                  <div>projects</div>
                </div>
              </div>
              <div class="about_page_block">
                <div>
                  <span>205K</span>
                  <div>certificates</div>
                </div>
              </div>
              <div class="about_page_block">
                <div>
                  <span>73%</span>
                  <div>career change</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_impact">
    <div class="container">
      <div class="about_impact_block">
        <h2>Creating Impact around the world</h2>
        <p>
          With our global catalog spanning the latest skills and topics, people
          and organizations everywhere are able to adapt to change and thrive.
        </p>
      </div>
    </div>
  </section>
  <!-- testimonial -->
  <section class="sponser_section spacing">
    <div class="container">
      <div class="heading center">
        <h4>Testimonials</h4>
        <h1>Thanks for your feedback</h1>
      </div>

      <div class="testimonial-slider owl-carousel">
        <div class="testimonial-block">
          <div class="testimonial-user">
            <img
              src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
              alt=""
            />
          </div>
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Easy to use platform, got my tickets hassle-free! Will definitely
              use again!" (by Josh Peck) "Impressed with the quick and secure
              ticketing process. Thanks for making concert-going stress-free!
            </p>
            <div class="testimonial-user">
              <h5>Drake Bell</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
        <div class="testimonial-block">
          <div class="testimonial-user">
            <img
              src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
              alt=""
            />
          </div>
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Super impressed with the range of payment options and the security
              measures in place. Top-notch service!
            </p>
            <div class="testimonial-user">
              <h5>Chloe Shaym</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
        <div class="testimonial-block">
          <div class="testimonial-user">
            <img
              src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
              alt=""
            />
          </div>
          <div class="testimonial-content">
            <div class="icon">
              <i class="las la-quote-left"></i>
            </div>
            <p>
              Appreciate the transparency and reliability of this ticketing
              system. Makes planning outings a breeze!
            </p>
            <div class="testimonial-user">
              <h5>Randy Roller</h5>
              <span>Organization name</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("../partial/footer") %>
