<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>checkout | Mucon</title>

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/fav/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/fav/favicon-16x16.png"
    />
    <link rel="manifest" href="img/fav/site.webmanifest" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- lineawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Labrada:ital,wght@0,500;1,500&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- external-link -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- header -->
    <header id="header">
      <div class="main_header">
        <div class="container">
          <nav
            class="d-flex w-full align-items-center column-gap-4 column-gap-md-3"
          >
            <div
              class="header-left d-md-flex align-items-md-center gap-md-3 gap-lg-5"
            >
              <div class="logo">
                <a href="index.html">
                  <img src="img/logo/orange.png" alt="LOGO" />
                </a>
              </div>
              <div class="header-left_nav d-none d-xl-block">
                <ul>
                  <li><a href="list.html">About us</a></li>
                  <li><a href="list.html">Blogs</a></li>
                  <li><a href="list.html">Contacts</a></li>
                </ul>
              </div>
            </div>

            <div
              class="header-right d-flex ms-auto mx-sm-auto me-lg-0 ms-lg-auto d-md-flex align-items-center align-items-lg-center gap-md-3"
              id="main_nav"
            >
              <!-- <div id="search-wrapper" class="d-none d-sm-flex">
                  <i class="search-icon las la-search"></i>
                  <input
                    class="search"
                    type="search"
                    placeholder="What do you want to learn?"
                    id="searchInput"
                  />
                </div> -->

              <div
                class="auth_design_wrap d-flex align-items-center justify-content-center gap-2"
              >
                <div class="d-flex align-items-center gap-1">
                  <div class="user_name" id="user_name"></div>

                  <div class="auth_desgin">
                    <i class="las la-user-circle"></i>

                    <div class="auth_design_content">
                      <div class="auth_logged_out">
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                      </div>
                      <div class="auth_logged_in" style="display: none">
                        <a href="profile.html">Profile</a>
                        <a href="#" id="logout">Logout</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="cart position-relative"
                  id="hamburger_open"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasCart"
                >
                  <i class="las la-shopping-cart"></i>
                  <span
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    id="numCart"
                  >
                  </span>
                </div>
              </div>
            </div>

            <!-- hamburger -->
            <div
              class="hamburger hamburger_open ms-lg-3 d-block d-xl-none"
              id="hamburger_open"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
            >
              <i class="las la-bars"></i>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!-- main starts here -->
    <main>
      <div class="about_banner checkout">
        <div class="container">
          <div class="about_banner_content">
            <ul>
              <li><a href="/cart">Shopping Cart</a></li>
              <li><a href="/checkout">Checkout</a></li>
              <li><a href="/complete">Order Complete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- contact_page -->
      <section class="checkout_page contact_page pageAlignment">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="checkout_left">
                <h3>Billing Details</h3>
                <div class="profile_right_block">
                  <form action="/billing" method="POST" id="billing_form">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-input">
                          <label for="firstName">First Name</label>
                          <input
                            type="text"
                            id="firstName"
                            name="firstName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-input">
                          <label for="lastName">Last Name</label>
                          <input
                            type="text"
                            id="lastName"
                            name="lastName"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-input">
                          <label for="address">Street Address</label>
                          <input
                            type="text"
                            id="address"
                            name="address"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-input">
                          <label for="city">Town / City</label>
                          <input type="text" id="city" name="city" required />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-input">
                          <label for="postalCode">Postal Code (optional)</label>
                          <input
                            type="text"
                            id="postalCode"
                            name="postalCode"
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-input">
                          <label for="email">Email Address</label>
                          <input
                            type="email"
                            id="email"
                            name="email"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-input">
                          <label for="phone">Phone Number</label>
                          <input type="tel" id="phone" name="phone" required />
                        </div>
                      </div>

                      <!--  -->
                      <div class="col-md-12 mt-4 payment_info">
                        <h4>Payment Information</h4>
                        <div class="form-input">
                          <input
                            type="radio"
                            id="cash"
                            name="paymentMethod"
                            value="cash"
                            required
                          />
                          <label for="cash"> Cash on delivery</label>
                        </div>
                        <div class="form-input">
                          <input
                            type="radio"
                            id="bankTransfer"
                            name="paymentMethod"
                            value="bankTransfer"
                            required
                          />
                          <label for="bankTransfer">Direct Bank Transfer</label>
                        </div>
                      </div>

                      <div class="col-md-12 mt-4">
                        <button
                          type="submit"
                          class="button bg_color bg_hover_color pad_btn"
                          style="width: 100%"
                        >
                          Place Order
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="checkout_right pge_checkout">
                <h2>Your Order</h2>

                <div class="pge_block">
                  <div class="pge_block_header">
                    <h3>Product</h3>
                    <h3>Subtotal</h3>
                  </div>
                  <div class="pge_blocks_body">
                    <div class="pge_block_body">
                      <div class="pge_cancel">x</div>
                      <div class="pge_img">
                        <img src="" alt="" />
                      </div>
                      <div class="pge_title">
                        <h4>Rode NT-USB Mini USB Condenser Microphone</h4>
                      </div>
                      <div class="pge_price">
                        <span>Rs 51,995</span>
                      </div>
                    </div>
                  </div>
                  <div class="pge_block_footer">
                    <div class="pge_foot">
                      <h5>SUbtitle</h5>
                      <h5>50000</h5>
                    </div>
                    <div class="pge_foot">
                      <h5>total</h5>
                      <h5>50000</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div id="success" class="sucess-contact-msg"></div>
    </main>

    <!-- main ends here -->

    <!-- footer -->
    <footer>
      <div class="footer_top">
        <div class="container">
          <div class="row footer_wrap gap-3 gap-sm-0">
            <div class="col-lg-12">
              <div class="footer_block">
                <a href="index">
                  <img src="img/logo/orange.png" class="logo" alt="" />
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-4">
              <div class="footer_block">
                <h4>TOLL FREE: 1800-120-456-456</h4>
                <ul class="list-group">
                  <a href="tel:+4378712345">
                    <i class="las la-phone"></i>&nbsp;<span
                      >+1 6378712345</span
                    ></a
                  >
                  <a href="mailto:dummyemail@gmail.com">
                    <i class="las la-envelope"></i>&nbsp;<span
                      >dummyemail@gmail.com</span
                    ></a
                  >
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
              <div class="row gap-4 gap-md-0">
                <div class="col-lg-4">
                  <div class="footer_block">
                    <h4>Quick Links</h4>
                    <div class="footer_nav">
                      <a href="privacy.html">Privacy Policy</a>
                      <a href="user.html">My Account</a>
                      <a href="terms.html">Terms and Conditions</a>
                      <a href="about.html">About</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="footer_block course">
                    <h4>Category</h4>
                    <div class="footer_nav">
                      <a href="list.html">Guitars </a>
                      <a href="list.html"> Pianos and Keyboards </a>
                      <a href="list.html"> Other Instruments </a>
                      <a href="list.html"> Drums </a>
                      <a href="list.html"> Guitar Accessories </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="footer_block right">
                    <h4>Follow Us</h4>

                    <div class="footer_nav social_icon">
                      <a href="#!" target="_blank"
                        ><i class="lab la-facebook-f"></i>
                      </a>

                      <a href="#!" target="_blank"
                        ><i class="lab la-instagram"></i>
                      </a>

                      <a href="#!" target="_blank"
                        ><i class="lab la-twitter"></i
                      ></a>

                      <a href="#!" target="_blank"
                        ><i class="lab la-youtube"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <p>
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          WeRVerse. All Rights Reserved.
        </p>
      </div>
    </footer>

    <!-- cart  -->
    <div
      class="offcanvas offcanvasCart offcanvas-end"
      tabindex="-1"
      id="offcanvasCart"
      aria-labelledby="offcanvasCart"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCart">Cart</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div id="userNotLogin" class="userNotLogin mt-2 mt-lg-4">
          <div class="course-list cart_course_list" id="course-list"></div>
          <div class="course_wrap_summary mt-8">
            <div class="course_summary">
              <h3>Price Summary</h3>
              <div class="course_summary_block">
                <div class="course_summary_item">
                  <span>Sub Total</span>
                  <span id="subTotal">$3000</span>
                </div>
                <div class="course_summary_total">
                  <span>GST/HST</span>
                  <span id="totalPayable">$6000</span>
                </div>
              </div>
            </div>

            <div class="course_total_pay mt-4">
              <h3 id="subTotalvalue">$6000</h3>
              <a href="#" class="btn btn-primary">Proceed To Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div
      class="offcanvas offcanvasCart offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list.html">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div id="success_login" class="sucess-contact-msg"></div>

    <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/addToCart.js"></script>

    <script>
      $(document).on("click", ".dropdown-menu", function (e) {
        e.stopPropagation();
      });
    </script>
  </body>
</html>
