<%- include("../partial/header") %>

<!-- main starts here -->
<main>
  <div class="about_banner">
    <div class="container">
      <div class="about_banner_content">
        <h1>Contact us</h1>
        <p>
          The quickest way to get in touch with us is by using the contact
          information below.
        </p>
      </div>
    </div>
  </div>

  <!-- contact_page -->
  <section class="contact_page pageAlignment">
    <div class="container">
      <div class="common_block">
        <div class="contact_map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.9557596903937!2d-79.33804092393399!3d43.77377717109668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3bca1a3f78f%3A0x815365ed6c3b957e!2sLambton%20College%20In%20Toronto!5e0!3m2!1sen!2sca!4v1711404573753!5m2!1sen!2sca"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>

        <div class="contact_wrap">
          <div class="contact_company_details contact_form">
            <div class="contact_company_content">
              <h2>Contact Us At...</h2>
              <div class="contact_info">
                <!-- Phone Details start -->
                <div class="company_details_item">
                  <!-- Phone icon -->
                  <i class="las la-map-marker-alt"></i>

                  <!-- Phone anchor link -->
                  <a href="#">180 Yorkland blvd</a>
                </div>
                <div class="company_details_item">
                  <!-- Phone icon -->
                  <i class="las la-phone"></i>
                  <!-- Phone anchor link -->
                  <a href="tel:+1236547889">+1 6378712345</a>
                </div>
                <!-- Phone Details end -->
                <!-- Email Details start -->
                <div class="company_details_item">
                  <!-- Email icon -->
                  <i class="las la-envelope"></i>
                  <!-- Email anchor link -->
                  <a href="mailto:dummyemail@gmail.com">dummyemail@gmail.com</a>
                </div>
                <!-- Email Details end -->
              </div>
            </div>
          </div>
          <div class="contact_form contact_company_form">
            <h2>Hi there, how can we help?</h2>

            <form action="/contact" method="post" id="contactPageForm">
              <div class="questionBlock">
                <label class="question" for="fullName"
                  ><span>01.</span> What's your Full Name?</label
                >
                <input
                  type="text"
                  id="fullName"
                  name="fullName"
                  placeholder="John Smith *"
                  required
                />
              </div>

              <div class="questionBlock">
                <label class="question" for="email"
                  ><span>02.</span> What's your email?</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="john@smith.com *"
                  required
                />
              </div>

              <div class="questionBlock">
                <label class="question" for="phone"
                  ><span>03.</span> What's your mobile number?</label
                >
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  placeholder="+12345678900"
                />
              </div>

              <div class="questionBlock">
                <label class="question" for="msg"
                  ><span>04.</span> Your message?</label
                >
                <textarea
                  id="msg"
                  name="msg"
                  rows="4"
                  placeholder="Hello Mucon, can you help me with..."
                  required
                ></textarea>
              </div>

              <button type="submit" class="button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="success" class="sucess-contact-msg"></div>
</main>

<%- include("../partial/footer") %>
