<%- include('../partial/header') %>

<!-- main starts here -->
<main>
  <!-- <div class="common_banner"></div> -->

  <!-- contact_page -->
  <section class="details_page pb-3">
    <div class="details_info">
      <div class="container">
        <div class="details_block">
          <div class="meta-item d-flex">
            <div class="meta-item__image me-2">
              <img
                alt="User Avatar"
                class="avatar"
                src="https://secure.gravatar.com/avatar/ff7411aa595f41253c93a296342c5d9d?s=96&amp;d=mm&amp;r=g"
              />
            </div>
            <div class="meta-item__value">
              <label>Instructor</label>
              <div>
                <span class="instructor-display-name">Jonas Darius</span>
              </div>
            </div>
          </div>
          <h2>Crash Course: Build a Full-Stack Web App in a Weekend!</h2>

          <div
            class="course_items d-flex flex-wrap column-gap-3 gap-md-3 gap-lg-4"
          >
            <div class="course_item">
              <i class="las la-clock"></i>
              <div>08 hr 15 mins</div>
            </div>
            <div class="course_item">
              <i class="las la-signal"></i>
              <div>All Levels</div>
            </div>
            <div class="course_item">
              <i class="las la-book"></i>
              <div>6 Lessons</div>
            </div>
            <div class="course_item">
              <i class="las la-clock"></i>
              <div>0 Quizes</div>
            </div>
            <div class="course_item d-none d-md-flex">
              <i class="las la-user-graduate"></i>
              <div>21,784 Students</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details_bottom_info">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-9">
            <div class="details_page_left">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-home"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    Overview
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-profile-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-profile"
                    type="button"
                    role="tab"
                    aria-controls="pills-profile"
                    aria-selected="false"
                  >
                    Curriculum
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="pills-contact-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-contact"
                    type="button"
                    role="tab"
                    aria-controls="pills-contact"
                    aria-selected="false"
                  >
                    Descriptions
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                  tabindex="0"
                >
                  <h2>What you'll learn</h2>
                  <ul>
                    <li>
                      You WILL build a fun web application in just a few days!
                      No experience needed
                    </li>
                    <li>
                      You WILL learn the very fundamentals of modern web
                      development (fast!)
                    </li>
                    <li>
                      You WILL get the experience of building a complete web app
                    </li>
                    <li>
                      You WILL discover if web development is a good career path
                      for you
                    </li>
                    <li>
                      You will NOT want to pause the course once you start :)
                    </li>
                    <li>
                      You will NOT master web technologies (that takes years...)
                    </li>
                    <li>
                      Research Niche and Product Ideas utilizing Free Google
                      Tools
                    </li>
                    <li>
                      You will NOT be able to build complex applications on your
                      own, but small ones
                    </li>
                  </ul>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-profile"
                  role="tabpanel"
                  aria-labelledby="pills-profile-tab"
                  tabindex="0"
                >
                  <h2>Course Content</h2>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <div
                        class="accordion-button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <div class="curri_block">
                          <div>Welcome Welcome Welcome!</div>
                          <div class="curri_block_bold">
                            4 Lectures . 26mins
                          </div>
                        </div>
                      </div>
                      <div
                        id="collapseOne"
                        class="accordion-collapse collapse show"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <strong
                            >This is the first item's accordion body.</strong
                          >
                          It is shown by default, until the collapse plugin adds
                          the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <div class="curri_block">
                          <div>HTML – Building the App Skeleton [DAY 1]</div>
                          <div class="curri_block_bold">
                            7 Lectures . 52mins
                          </div>
                        </div>
                      </div>
                      <div
                        id="collapseTwo"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <strong
                            >This is the second item's accordion body.</strong
                          >
                          It is hidden by default, until the collapse plugin
                          adds the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div
                        class="accordion-button collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <div class="curri_block">
                          <div>CSS – Styling the App [DAY 1]</div>
                          <div class="curri_block_bold">
                            17 Lectures . 3hrs 22mins
                          </div>
                        </div>
                      </div>
                      <div
                        id="collapseThree"
                        class="accordion-collapse collapse"
                        data-bs-parent="#accordionExample"
                      >
                        <div class="accordion-body">
                          <strong
                            >This is the third item's accordion body.</strong
                          >
                          It is hidden by default, until the collapse plugin
                          adds the appropriate classes that we use to style each
                          element. These classes control the overall appearance,
                          as well as the showing and hiding via CSS transitions.
                          You can modify any of this with custom CSS or
                          overriding our default variables. It's also worth
                          noting that just about any HTML can go within the
                          <code>.accordion-body</code>, though the transition
                          does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="pills-contact"
                  role="tabpanel"
                  aria-labelledby="pills-contact-tab"
                  tabindex="0"
                >
                  <h2>Description</h2>
                  <div>
                    <p><b>*** Just released in December 2022 *** </b></p>
                    <p>
                      I have already learned more in this class than in a
                      $12,000 coding BootCamp (...). Before taking one of the
                      Bootcamp on Udemy, you should take this class first" –
                      Robert
                    </p>
                    <p>
                      Do you want to learn the fundamentals of modern web
                      development fast?
                    </p>
                    <p>
                      Do you want to find out if building websites and apps is
                      the right career path for you? Or maybe you just want to
                      know what your web developer friends do all day?
                    </p>
                    In any of these cases...
                    <p>
                      <b>
                        Welcome to my "Web Development Crash Course"! Together,
                        we will build a fun, small, but full-stack web
                        application in just a few days.</b
                      >
                    </p>
                    <p>
                      But why this course? And why is it so short? Well, there
                      are so many 60 and 80-hour-long "complete" web development
                      courses out there, which are great if you want to invest 3
                      months of your life into finding out if web dev is even
                      right for you or not... I wanted to offer a different
                      approach. A short and fast crash course, where you can dip
                      your toes into the world of HTML, CSS, JavaScript, and
                      even React (the most used JavaScript library in the
                      world).
                    </p>
                    <p>
                      You can finish it in a weekend (if you have nothing else
                      planned), or you can take a week. But the point is that
                      you can learn the very fundamentals of web development
                      quite fast, and in an engaging, 99% project-based way. And
                      even though this is called a "crash course", this course
                      teaches you more in 12 hours than I learned in my first 2
                      years as a web developer! That's how condensed, and how
                      valuable, the material is. And the course still maintains
                      the high-quality standard of all my other courses, so that
                      you actually understand what you are learning! But you
                      might be thinking:
                    </p>
                    <p>
                      "Is a crash course really right for me?" Well, it all
                      depends on your goals. Sure, you will not become a web
                      developer after this short course, and you will not be
                      able to build big web projects (but sometimes that's true
                      even for those huge 80-hour courses). But, at the end of
                      this course, you will have learned and understood the
                      fundamentals of the most important web technologies (HTML,
                      CSS, JavaScript, React). And even more importantly, you
                      will have discovered if you actually like web development
                      and want to pursue it as a (lucrative) career! Plus, you
                      will walk away from this course with a super cool web
                      application that you can show to all your friends (please
                      tell them I sent you ;)
                    </p>
                    <p>
                      All this will enable you to go deeper into the topics that
                      you actually liked, and keep learning and progressing on
                      your own if you like (or of course, you can purchase more
                      specialized courses). So, have you never written a single
                      line of code in your life? You have come to the right
                      place! We will start slowly, step-by-step, and then speed
                      up the pace as we progress through the course. So here's
                      what we're gonna do in this course:
                    </p>
                    <p>
                      We will set up your code editor and coding environment
                      together (all for free!) I will guide you through the
                      basics of the web and web development Then we slowly start
                      our project, by writing the HTML code (for the page
                      content) We then style the page and create a layout using
                      CSS Next we create an online database and API for our
                      application data, using a free service called Supabase To
                      get the data into the application and make it interactive,
                      we learn the fundamentals of JavaScript Writing apps with
                      only JavaScript can be difficult, so we build the app
                      using the React library Finally, we deploy the final
                      project to a free service called Netlify DONE! You can now
                      share the URL of your project with everyone :) Already
                      know HTML, CSS, or JavaScript? No problem! You can still
                      get something from the course. For example, you can watch
                      only the section on "React" and use the downloadable code
                      from the previous section as your starting point.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <section class="spacing">
              <div class="container">
                <div class="heading inbetween">
                  <h1>Recommended Courses</h1>
                  <a href="#">View More</a>
                </div>
                <div class="recommend_wrap owl-carousel">
                  <div class="course_block" data-id="1">
                    <img
                      src="https://img-c.udemycdn.com/course/240x135/567828_67d0.jpg"
                      alt=""
                    />
                    <div class="course_time">New</div>
                    <div class="course_content">
                      <h3>
                        <a href="details.html">Introduction to Python</a>
                      </h3>
                      <p>Mark justin</p>
                      <div class="course_info">
                        <div class="hours">19.5 total hours</div>
                        <div class="lectures">185 lectures</div>
                      </div>
                      <div class="price">CA$59</div>

                      <button
                        class="add_cart btn btn-primary mt-2 btn-sm"
                        id="add_cart"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                  <div class="course_block" data-id="2">
                    <img
                      src="https://img-c.udemycdn.com/course/240x135/1362070_b9a1_2.jpg"
                      alt=""
                    />
                    <div class="course_time">Best Seller</div>
                    <div class="course_content">
                      <h3 class="">
                        <a href="details.html">
                          React - The complete Guide 2024
                        </a>
                      </h3>
                      <p>Mark justin</p>
                      <div class="course_info">
                        <div class="hours">19.5 total hours</div>
                        <div class="lectures">185 lectures</div>
                      </div>
                      <div class="price">CA$59</div>
                      <button
                        class="add_cart btn btn-primary mt-2 btn-sm"
                        id="add_cart"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                  <div class="course_block" data-id="3">
                    <img
                      src="https://img-c.udemycdn.com/course/240x135/705264_caa9_13.jpg"
                      alt=""
                    />
                    <div class="course_time">Best Seller</div>
                    <div class="course_content">
                      <h3>
                        <a href="details.html"> Modern React with Redux </a>
                      </h3>
                      <p>Mark justin</p>
                      <div class="course_info">
                        <div class="hours">19.5 total hours</div>
                        <div class="lectures">185 lectures</div>
                      </div>
                      <div class="price">CA$59</div>
                      <button
                        class="add_cart btn btn-primary mt-2 btn-sm"
                        id="add_cart"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                  <div class="course_block" data-id="4">
                    <img
                      src="https://img-c.udemycdn.com/course/240x135/2776760_f176_10.jpg"
                      alt="Course Image"
                    />
                    <div class="course_time">Best Seller</div>
                    <div class="course_content">
                      <h3>
                        <a href="details.html">
                          100 Days of Code: The Complete Python Pro Bootcamp
                        </a>
                      </h3>
                      <p>Jose Portilla, Pierian Training</p>
                      <div class="course_info">
                        <div class="hours">58.5 total hours</div>
                        <div class="lectures">61 lectures</div>
                      </div>
                      <div class="price">CA$49.99</div>
                      <button
                        class="add_cart btn btn-primary mt-2 btn-sm"
                        id="add_cart"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                  <div class="course_block" data-id="5">
                    <img
                      src="https://img-c.udemycdn.com/course/240x135/543600_64d1_4.jpg"
                      alt="Course Image"
                    />
                    <div class="course_time">Best Seller</div>
                    <div class="course_content">
                      <h3>
                        <a href="details.html">
                          Automate the Boring Stuff with Python Programming
                        </a>
                      </h3>
                      <p>AI Sweigart</p>
                      <div class="course_info">
                        <div class="hours">8.1 total hours</div>
                        <div class="lectures">51 lectures</div>
                      </div>
                      <div class="price">CA$149.99</div>
                      <button
                        class="add_cart btn btn-primary mt-2 btn-sm"
                        id="add_cart"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-12 col-md-4 col-lg-3">
            <div class="details_page_right_wrap">
              <div class="details_page_right_block">
                <div class="details_page_right_top">
                  <div class="video_wrap">
                    <iframe
                      src="https://www.youtube.com/embed/WIBSPhffOHI?si=vL-2Eb03UhxqxBtf"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      referrerpolicy="strict-origin-when-cross-origin"
                      allowfullscreen
                    ></iframe>
                  </div>
                  <div class="video_desc">
                    <div class="price">$11.99</div>
                    <div class="buy mb-3 gap-2">
                      <button class="btn btn-primary" type="button">
                        Buy now
                      </button>
                      <button
                        class="btn btn-primary add_cart mt-0 mt-md-2 mt-lg-0"
                        type="button"
                      >
                        Add to cart
                      </button>
                    </div>
                  </div>
                </div>
                <h3>This Course includes:</h3>
                <div class="details_page_right_block_wrap">
                  <i class="las la-file-video"></i>
                  <span>12 hours on-demand video</span>
                </div>
                <div class="details_page_right_block_wrap">
                  <i class="las la-file"></i>
                  <span>3 articles</span>
                </div>
                <div class="details_page_right_block_wrap">
                  <i class="las la-file-download"></i>
                  <span>10 downloadable resources</span>
                </div>
                <div class="details_page_right_block_wrap">
                  <i class="las la-mobile"></i>
                  <span>Access on mobile and TV</span>
                </div>
                <div class="details_page_right_block_wrap">
                  <i class="las la-infinity"></i>
                  <span>Full lifetime access</span>
                </div>
                <div class="details_page_right_block_wrap">
                  <i class="las la-calendar"></i>
                  <span>Certificate of completion</span>
                </div>
              </div>

              <div class="details_page_right_block">
                <h3>Share this Course</h3>
                <div class="details_page_right_block_wrap social_icon">
                  <a href="#!" target="_blank" class="facebook" title="facebook"
                    ><i class="lab la-facebook-f"></i>
                  </a>

                  <a
                    href="#!"
                    target="_blank"
                    class="instagram"
                    title="instagram"
                    ><i class="lab la-instagram"></i>
                  </a>

                  <a href="#!" target="_blank" class="twitter" title="twitter"
                    ><i class="lab la-twitter"></i
                  ></a>

                  <a href="#!" target="_blank" class="youtube" title="youtube"
                    ><i class="lab la-youtube"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main ends here -->
<%- include('../partial/footer') %>
