<!-- Page Wrapper -->
<div id="wrapper" class="admin">
  <!-- sidebar -->
  <%- include("sidebar") %>

  <div id="content-wrapper" class="d-flex flex-column">
    <%- include('../partials/header') %>
    <!--  -->
    <%- include('main') %>
  </div>
</div>
