<!-- Page Wrapper -->
<div id="wrapper" class="admin">
  <!-- sidebar -->
  <%- include("sidebar") %>
  <!-- nav -->
  <div class="w-100">
    <div id="content-wrapper" class="d-flex flex-column">
      <%- include('nav') %>
      <!--  -->
      <%- include('main') %>
    </div>
    <%- include('../partials/footer') %>
  </div>

  <!--  -->
</div>
