<div id="content">
  <!-- Begin Page Content -->
  <div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800"><%= pageTitle %></h1>
    </div>

    <div class="card mb-4 p-4 admin_card_table">
      <%- include(`../pages/${page}`) %>
    </div>
  </div>
</div>
